body{
    margin: 0;
}
header{
    /* width: 100%; */
    height: 40px;
    background-color: #5e068a ;
}

header p{
    color: white;
    padding: 10px;
    position: absolute;
    left: 163px;
    top: -13px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
}
header a{
    color: white;
    padding: 11px;
    position: absolute;
    left: 277px;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
}
header i{
    color: white;
}
 .col-2{
    font-family: 'Times New Roman', Times, serif;
}
.email{
    margin-left: 756px;
}
.phone{
    margin-left: 643px;
}

.fa-phone-alt{
    margin-left: 912px;
    margin-top: 10px;
    size: 5px;
}
.fa-envelope{
    margin-left: 93px;
}

.container{
    max-width: 1300px;
    padding-left: 25px;
    padding-right: 25px;
    margin: auto;
}

.navbar{
    display: flex;
    text-align: center;
    padding: 20px;
    margin-left: 60px;
    
}
nav{
    flex: 1;
    text-align: right;

}
nav ul{
    display: inline-block;
    list-style-type: none;
    
   
}
nav ul li{
    display: inline-block;
    margin-left: 20px;
    
}
 a{
    text-decoration: none;
    color: black;
    font-size: 17px;
    font-family:sans-serif;   
}
.logo{
    position: absolute;
    left: 170px;
}